[Unit]
Description=ScoreMaster Controller Renderer
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=scoreboard
Group=scoreboard
# Capabilities are attached to the binary via setcap in postinst
ExecStart=/usr/bin/scoremaster-controller -c eth0 -s
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
